h2{
    -webkit-text-stroke:2px green ;
    text-transform: uppercase;
    font-size: 64px;
    text-align: center;
}
.sub{
    color: green;
    letter-spacing: 4px;
    word-spacing: 2px;
}
p{
    font-size: 18px;
    color: white;
    font-weight: 700;
}
button{
    background-color: green;
    color: white;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
body{
    margin: 0;
    background-color: rgb(212, 241, 212);
}
.center{
    width: 70%;
    height:50%;
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 0 auto;
}
header{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
.grocery-form{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}
input{
    background-color:rgb(235, 221, 242);
    border: none;
    width:70%;
    height: 30px;
    padding-left: 20px;
    border-radius: 5px;
}
img{
    width: 60px;
    height: 60px;
}
.disp{
    display: block;
    gap: 2px;
    list-style: none;
}
.delete-btn{
    margin-left: 60%;
    background-color: red;
}
#groceryList{
    font-size: 20px;
    font-weight: 600;
}
#groceryList li{
    margin-top: 20px;
}
.display-cnt{
    text-align: center;
    font-size: 40px;
    color: cadetblue;
    font-weight: 600;
    list-style: none;
}